<h4 style="text-align: center;">{{title}}</h4>
<form autocomplete="off"
  [formGroup]="bookForm"
  #bookFormRef="ngForm"
  (ngSubmit)="saveBookDetails(bookFormRef, saveBookDetailsButtonRef);"
>
  <div>
    <label id="bookName" style="padding-top: 0.5rem">Name</label><br/><br/>
    <input type="text"
      class="form-group"
      formControlName="bookName"
      required
    >
  </div>
  <p
    class="errorMsg"
    *ngIf="bookForm.get('bookName').hasError('required') && (bookForm.get('bookName').touched || bookForm.get('bookName').dirty)"
  >
    Book Name is required
  </p>
  <br/>
  <div>
    <label id="bookDescription" style="padding-top: 5rem">Description</label><br/><br/>

    <textarea class="form-group"
      cols="30"
      rows="10"
      formControlName="bookDescription"
    ></textarea>
  </div>
  <br/>
  <div>
    <label id="count" style="padding-top: 0.5rem">Count</label><br/><br/>
    <input type="number"
      class="form-group"
      formControlName="count"
      required
      #count
    >
  </div>
  <p
    class="errorMsg"
    *ngIf="bookForm.get('count').hasError('required') && bookForm.get('count').touched"
  >
    Count is required
  </p>
  <br/>
  <div>
    <label id="author" style="padding-top: 0.5rem">Author</label><br/><br/>
    <input type="text"
      class="form-group"
      formControlName="author"
      required
    >
  </div>
  <br/>
  <div id="action">
    <button id="save" #saveBookDetailsButtonRef [disabled]="mode === 'view'">Save</button>
    <button id="reset" type="button" [disabled]="mode === 'view'" (click)="resetForm(bookFormRef);">Reset</button>
  </div>
  <br/>
</form>
